
.WishListModal {
    background-color: white;
    position: fixed;
    top: -webkit-calc(50% - 30vh);
    left: -webkit-calc(50% - 25vw);
    width: 50vw;
    height: 60vh;
    padding: 20px;
    border: 1px solid #ddd;
    //transform: translate(-50%, -50%);
    z-index: 202;


    &--Content{
        margin-top: 10px;
        height: 55vh;
    }
}


.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 201;
    visibility: visible;
    opacity: 1;
    transition: 0.7s;
}

.WishList-Plus-Button{
    padding: 0px;
}

.WishList-Close-Button{
    position: absolute;
    top:20px;
    right:0;
    padding-bottom: 0;
    cursor: pointer;
}
.WishList-Combination-List-Item{
   list-style: none;
    padding-bottom: 10px;
}

.WishListModal--Title{
    font-size: 20px;
    padding: 10px;
}

.modalCheckBox[type="checkbox"] {
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    border: 1px solid #808080;
    content: "";
    background: #FFF;
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
}

.checkboxContainer input {
    display: none;
}

.checkboxContainer{
    display: inline-block;
    padding-top:5px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    width: 100%;

}

.checkboxContainer .checkmark{
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top:0;
}

.checkboxContainer input:checked + .checkmark{
}

.checkboxContainer input:checked + .checkmark:after{
        content: ' ';
        position: absolute;
        height: 5.77px;
        width: 13px;
        border-left: 2px solid forestgreen;
        border-bottom: 2px solid forestgreen;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
}

.WishListModal-Header{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.WishListModal-List{
    padding-top: 10px;
}

.Modal-Editable-Input{
    border: none;
    border-bottom: 1px solid grey;
    font-size: 20px;
    width: 40vw;
}






