.Combination-Container{
  display: flex;
  flex-direction: row;
}

.Combination-Image-Container{

}

.CombinationList-Item_Wrapper{
  display: flex;
  flex-direction: row;
}

.Combination-a-tag{
  width: 11%;
}

.Combination-Info-Container{
  margin: 10px;
  width: 30%;
  flex-basis: 66%;
}

.CombinationList-Item-Info{
  p{
    padding-bottom: 10px;
    padding-left: 5px;
  }
}

.Combination-Actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Combination-Actions-Button{
    min-width: 50px;
    border: 1.2px solid #00174f;
    color: #00174f;
    font-weight: 600;
    padding: 2px 14px;
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: 8px;
    padding-top: 5px;
}

.CombinationList-Item-Title{
  font-style: normal;
  font-weight: 500;
  line-height: 1.2rem;
  font-size: 18px;
  text-transform: uppercase;
}
